@font-face {
	font-family: 'Google Sans Flex';
	font-style: normal;
	font-weight: 100;
	src: url('GoogleSansFlex_9pt-Thin.woff2') format('woff2');
}
@font-face {
	font-family: 'Google Sans Flex';
	font-style: normal;
	font-weight: 200;
	src: url('GoogleSansFlex_9pt-ExtraLight.woff2') format('woff2');
}
@font-face {
	font-family: 'Google Sans Flex';
	font-style: normal;
	font-weight: 300;
	src: url('GoogleSansFlex_9pt-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'Google Sans Flex';
	font-style: normal;
	font-weight: 400;
	src: url('GoogleSansFlex_9pt-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Google Sans Flex';
	font-style: normal;
	font-weight: 500;
	src: url('GoogleSansFlex_9pt-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Google Sans Flex';
	font-style: normal;
	font-weight: 600;
	src: url('GoogleSansFlex_9pt-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Google Sans Flex';
	font-style: normal;
	font-weight: 700;
	src: url('GoogleSansFlex_9pt-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Google Sans Flex';
	font-style: normal;
	font-weight: 800;
	src: url('GoogleSansFlex_9pt-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Google Sans Flex';
	font-style: normal;
	font-weight: 900;
	src: url('GoogleSansFlex_9pt-Black.woff2') format('woff2');
}
