@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 10;
	src: url('Dana-Hairline.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 100;
	src: url('Dana-Thin.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 200;
	src: url('Dana-UltraLight.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 300;
	src: url('Dana-Light.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 500;
	src: url('Dana-Medium.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 600;
	src: url('Dana-DemiBold.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 800;
	src: url('Dana-ExtraBold.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 900;
	src: url('Dana-Black.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 930;
	src: url('Dana-ExtraBlack.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 960;
	src: url('Dana-Heavy.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 990;
	src: url('Dana-fat.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: normal;
	src: url('Dana-Regular.woff2') format('woff2')
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: bold;
	src: url('Dana-Bold.woff2') format('woff2')
}