.tippy-box[data-theme~='default-tippy'] {
    background-color: var(--c-gray-900);
    color: #fff;
    border-radius: var(--br-sm);
    font-size: 12px;
    line-height: 1.3;
    font-weight: 500;
}

.tippy-box[data-theme~='default-tippy'] .tippy-content {
    padding: 6px 8px;
}

.tippy-box[data-theme~='default-tippy'] .tippy-arrow {
    color: var(--c-gray-900);
}
